## Tips and tricks to write better python codes
(references: https://youtu.be/C-gEQdGVXbk

1. ternary operator : [statement_on_True] if [condition] else [statement_on_false]

In [ ]:
# testing a condition in a single line replacing the multiline if-else making the code compact

In [1]:
a,b = 6,7
print(a, " is greater") if (a>b) else print (b, "is greater")

7 is greater

In [3]:
condition = True
x=1 if condition else 0
print(x)

1

In [4]:
# Python program to demonstrate nested ternary operator
a, b = -1, -1
  
print (a  if a == b else "a is greater than b"
        if a > b else "b is greater than a")

-1

2. f-String

In [5]:
name= "Jenny"
age= 15

f"Hello, {name}, you are {age}"

'Hello, Jenny, you are 15'

In [10]:
F" Hello, {name}"

' Hello, Jenny'

In [12]:
f"{2-6}"

'-4'

2b. String format  str.format()

In [14]:
"hello, {}, you are {}.".format(name,age)

'hello, Jenny, you are 15.'

3. Underscores in Numeric Literals + f-string

In [15]:
# when you deal with big number you caould use underscore to separate the zeros:
num1 = 1_200_000_000   # can't use comma to separate the zesos like 100,000,000 
num2 =15_000_000        # now its easier to read the number

total= num1 + num2
#print(total)

1215000000

In [17]:
# Now you want to read the result easier you could do as follows:
print(f'{total:,}')   # f-string and separate it by ,

1,215,000,000

In [31]:
#  define a function to add tow numbers
def addnumbers(n1, n2):   
    total = n1+n2
    print(f'{total:,}')  # using the f-string to get the output and separate zeros with ,
    
addnumbers(123_000, 12_000_000)   # call the function with two big numbers using underscores

12,123,000

4. Lambda functions: lambda arguments : expression

A lambda function is a small anonymous function(function without name).

A lambda function can take any number of arguments, but can only have one expression.
No need to define a function

In [42]:
x=lambda a : a**2  #assign lambda function to x with argument a and expression a^2
print("total is: " +str(x(5)) )   # need to cast x(5)to a string when concatenate with another string

total is: 25

In [47]:
print(lambda a=5: a**2)   # error message invalid syntax lambda only takes number as parameter

<function <lambda> at 0x00000128DBF1C8C8>

5. lambda wrapper function: use lambda function as argument for another lambda function

In [48]:
# Defining lambda function
square = lambda x:x * x
  
# Defining lambda function
# and passing function as an argument
cube = lambda func:func**3     # func could be any function as argument
  
  
print("square of 2 is :"+str(square(2)))   # pass 2 as argument to the first lambda function
print("\nThe cube of "+str(square(2))+" is " +str(cube(square(2))))

square of 2 is :4

The cube of 4 is 64

In [49]:
# Or we can define a function for lambda function
def myfunction (n):
    x=lambda a:a*n
    mydoubler = myfunction(2)   # pass n=2 to myfunction so now x= lambda a:a*2
    
print(x(4))  # call the x function with argument a=4

16

6. Context manager: instead of reading resources ( logs, database and other files) and close it manually you can use context manager to handle it

In [55]:
with open('test.txt', 'r') as f: 
    file_contents =f.read()
    
words = file_contents.split(' ')
word_count = len(words)
print(word_count)
print(words)

3
['I', 'LOVE', 'YOU']

7. Enumerate function:return the index  and the value  for the list that we are looping over:

In [56]:
names= ['Jenny','Lani', 'Kelly','Lily']
for index, name in enumerate( names, start=1):   # default start =0
    print(index, name)

1 Jenny
2 Lani
3 Kelly
4 Lily

In [59]:
# Loop over two lists at the same time with the same index:
names= ['Jenny','Lani', 'Kelly','Lily']
ages= [12,24,35,28]
for index, name in enumerate(names):     # unpack names list
    age = ages[index]           # unpack the 2nd list with the same index from the first list
    print(f'{name} is  {age}.' )   # print out index and names of the two lists

Jenny is  12.
Lani is  24.
Kelly is  35.
Lily is  28.

8. Zip function: https://www.w3schools.com/python/ref_func_zip.asp

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.
we could zip up  the above codes as follows:

In [60]:
names= ['Jenny','Lani', 'Kelly','Lily']
ages= [12,24,35,28]

for name, age in zip(names, ages):   #unpack the values from the lists zip function
    print(f'{name} is  {age}.' )
    
# It's more intuitive and easy to read

Jenny is  12.
Lani is  24.
Kelly is  35.
Lily is  28.

In [63]:
addresses =["DC", 'SF','LA',' SD', 'San Jose']

for name, age, address in zip(names, ages,addresses):   #unpack the values from the lists zip function
    print(f'{name} is  {age} and lives at {address}.' )
    
# If one tuple contains more items, these items are ignored

Jenny is  12 and lives at DC.
Lani is  24 and lives at SF.
Kelly is  35 and lives at LA.
Lily is  28 and lives at  SD.

In [64]:
# Or just make it even more simple with the folowing unpacking and return with tuples 

for value in zip(names, ages,addresses):  
    print(value)

('Jenny', 12, 'DC')
('Lani', 24, 'SF')
('Kelly', 35, 'LA')
('Lily', 28, ' SD')

9. unpacking tuples (use asterisk and underscore)

In [66]:
# unpack a tuple with two varaibles:

a,  b =(-1, 3)

print(a)
print(b)

-1
3

In [68]:
# Now what if we only wants to use one varaible , we could use _to represent/skip the other value:
m, _ = (2,4)

print(m)

2

In [72]:
# If we have more values in the tuple than the variables we want to unpack, we can use *N3 to represent the rest of the values
N1, N2, *N3 = (4, 5, 6, 7, 8)

print (N1)
print(N2)
print(N3)

4
5
[6, 7, 8]

In [73]:
# If we want to ignore the rest of the values we could use *_
N1, N2, *_ = (4, 5, 6, 7, 8)

print(N1)
print(N2)

4
5

In [74]:
# Another example, after the *N3/*_, the variable will always represents the last value in the tuple:
N1, N2, *_ , N4 = (4, 5, 6, 7, 8, 9, 10)

print(N1)
print(N2)
print(N4)

4
5
10